			/*Toutes les pages*/
body{
		background-color: white;
		font-family: 'Yanone Kaffeesatz',sans-serif;
		font-weight: bolder;
}
header {
	background-image: url('img/header.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height : 0;
	padding-top: 1%;
	padding-bottom : 25%;
	/*adaptation de : https://stackoverflow.com/questions/600743/how-to-get-div-height-to-auto-adjust-to-background-size*/
	text-align: center;
	font-size: 5vw ;
	color: rgb(106, 110, 106);
}
header::before{
	content :"~ Adopte un cactus ~";}
nav {
	font-size: 24px;
	display: flex;
	flex-flow: wrap;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
	border: 1px solid rgb(193, 224, 174);
} 
.menuItem{
	color: rgb(106, 110, 106);
	width: 20%;
	display: flex;
	justify-content: center;
	flex-flow: nowrap;
}
.menuItem input[type="search"]{
	width: 80%;
	font-size: 0.9em;
}
main {
	font-size: 20px;
    padding: 30px;
    margin: 10px;
	border: 1px solid #edf2e6;
	color: rgb(106, 110, 106);
	display : flex;
	flex-flow :row wrap;
}
footer {
    padding: 10px;
    margin: 10px,0px;
    border: solid rgb(193, 224, 174);
    border-width: 1px 0px;
	background-image: url('img/footer.png');
	background-repeat: no-repeat;
	background-size: contain;
	width : 100%;
	height: 0;
	padding-bottom: 31%;
	color: gray;
	text-align: center;
	font-size: 14pt;
	font-style: italic;
}
footer::before{
	content :"Disclaimer: ce site a été réalisé dans le cadre d'un projet étudiant";
}
footer a{
	text-decoration: underline;
	font-style: italic;
}
h1{
	min-width: 100%;
	margin-top: 0;
}
/*
h2{
	
}*/

a{
	color : inherit;
	text-decoration: none;
}
audio{
	visibility: hidden;
}
input{
	font-size: 20px;
	font-family: 'Yanone Kaffeesatz',sans-serif;
	font-weight: bolder;
}
			/* Page index*/
#msg {
	text-align: center;
	align-self: center;
	border: 1px dashed rgb(164, 226, 129);
	padding: 5px;
	margin: auto;
	margin-bottom: 20px;
	line-height:30px;
	display: inline-block;
	/* position: relative;
	left: 50%;
	transform: translateX(-50%); */
	padding : 20px;
	border-radius: 8px;
}
.desc_site{
	position: relative;
	line-height: 120%;
}
.promo{
	font-style: italic;
	width : auto;
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.promo em{
	color: #e61515;
	font-style: italic;
	font-weight: bold;
	text-decoration: blink;
}
.promo img{
	width: 200px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
			/* Pages Recherche et Produit*/
#liste_produit{
	display : flex;
	flex-flow :row wrap; 
	justify-content: space-between;	
}
article{
	padding : 10px 20px;
	margin: 0 0 10px 0 ;
	max-width: 300px; 
	border: 1px solid #edf2e6;
	/* display : flex;
	flex-flow :column; */
	min-width: 120px;
}
.button{
	font-size: 0.9em;
	display: block;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
	height : 1.2em;
	border : 1px solid grey;
	background-color: rgb(235, 235, 235);
	width: 100%;
}
.button:hover{
	border : 1px solid rgb(164, 226, 129) ;
	background-color: rgb(214, 250, 214);
}

.indispo .button{
	opacity: 0.4;
	cursor: not-allowed;
	border : 1px solid grey;
	background-color: rgb(235, 235, 235);
}
.dispo .disponibilite::after{
	content :"✔Disponible";
	color : green;
}
.indispo .disponibilite::after{
	content :"❌ Indisponible";
	color : red;
}

.cactus{
	width: 100%;
	max-width: 300px;
}
			/* Page description produit*/
.produit{
	display: flex;
	flex: row wrap;
	align-content: space-around;
}
.description {
	max-width: 60% ;
	text-align: justify;
	margin-left : 20px;
}
.description .button{
	width : 60%;
}
.cactus_nain{
	max-height: 420px;
}
			/*Page Panier = Commande */
.panier{
	width : 100%;
	display: flex;
	justify-content : space-around;
	flex-wrap: wrap;
}	
#coord{
	min-width: 150px;
	width : 40%;
	justify-content: center;
}
#coord input {
	width : 95%;
	margin : 0;
	padding: 4px;
	align-self: center;
}
table{
	border-collapse: collapse;
	padding: 10 px;
	width: 40%;
}
td,th{
	border: 1px solid black;
	padding: 10 px;
	text-align : center;
	padding: 5px;
}
td[colspan]{
	border: 1px solid black;
	padding: 10 px;
	text-align : right;
}
.supprimer{
	color: #e61515;
	font-weight: bold;
}
/* Ne peut pas valider commande si panier vide*/
.vide [type="submit"]{ 
	opacity: 0.4;
	cursor: not-allowed;
}
			/* Page Equipe*/
#nous{
	display: flex;
	flex-wrap: wrap ;
	justify-content: space-between;
	/* width: 100%; */
}
#nous section{
	width: 45%;
	padding-left : 5%;
	text-align : justify;
}
			/* Page Rapport */
#cr{
	text-align : justify;
	line-height: 120%;
}
			/* Règles inutilisées ? */
/*

*/