			/*Toutes les pages*/
body{
		background-color: white;
		font-family: 'Yanone Kaffeesatz',sans-serif;
		font-weight: bolder;
}
header {
	background-image: url('header.png');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 500px;
	text-align: center;
	font-size: 30px;
	font-weight: lighter;
	color: rgb(106, 110, 106);
}
header:after{
	content :"~ Adopte un cactus ~";
	text-align: end;
	text-align: center;
	font-size: 65px;
	/*font-weight: lighter;*/
	color: rgb(106, 110, 106);
}
nav {
	display: flex;
	flex : wrap;
	justify-content: space-around;
	padding: 10px;
	margin: 10px;
	border: 1px solid purple;
}
.menuItem a{
	color: rgb(106, 110, 106);
}
header>h1{ /* USEFULL ?*/
	width: 25%;
	min-width: 260px; /*largeur du logo*/
	justify-content : center;
}
nav{
	width: 60%;
	display: flex;
	flex : wrap;
	justify-content : space-between;
	align-content: center;
	padding: 10px;
	margin: 10px;
	border: 1px solid red;
}
main{
	font-size: 20px;
    padding: 10px;
    margin: 10px;
	border: 1px solid #edf2e6;
	color: rgb(106, 110, 106);
}
footer{
	padding: 10px ;
	margin: 10px,0px;
	border: solid black;
	border-width: 1px 0px;
	background-image: url('footer.png');
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
	border: 1px solid #edf2e6;
	font-size: 20px;
	text-align: center;
} 
footer a {
    color: gray;
	text-align: center;
}
/*h1{
	
}
h2{
	
}*/
a{
	color : black;
}
audio{
	visibility: hidden;
}
input{
	font-size: 20px;
	font-family: 'Yanone Kaffeesatz',sans-serif;
	font-weight: bolder;
}
			/* Page index*/
#msg {
	text-align: center;
	border: 2px dashed rgb(164, 226, 129);
	padding: 5px;
	margin: auto;
	line-height:30px;
}
/*.desc_site{}*/
.promo{
	font: italic;
	/* border: 2px solid red; */
}
.promo em{
	color: #e61515;
	font: bold, italic;
	text-decoration: blink;
}
.promo img{
	width: 200px;
}
			/* Pages Recherche et Produit*/
#liste_produit{
	display : flex;
	flex-flow :row wrap; 
	justify-content: space-between;
	align-content: flex-start;
	
}
article{
	padding : 10px 20px;
	margin: 0 0 10px 0 ;
	max-width: 300px; 
	border: 1px solid #72b369;
	/* display : flex;
	flex-flow :column; */
	min-width: 120px;
}
article button{
	width: 100%;
}
.dispo .disponibilite:after{
	content :"✔Disponible";
	color : green;
}
.indispo .disponibilite:after{
	content :"❌ Indisponible";
	color : red;
}
.indispo button{
	opacity: 0.4;
	cursor: not-allowed;
}
.cactus{
	width: 100%;
	max-width: 300px;
}
			/* Page description produit*/
.produit{
	display: flex;
	flex: row wrap;
	align-content: space-around;
}
.promo{
	font: italic;
	/* border: 2px solid red; */
	border: 1px solid #e61515 ;
	width :max-content;
}
.produit h1{
	width : 100%;
}
.description {
	max-width: 60% ;
}
			/*Page Panier = Commande */
#panier{
	width : 100%;
	display: flex;
	justify-content : space-around;
}	
#coord{
	min-width: 150px;
	width : 40%;
}
#coord input {
	width : 95%;
	margin : 0;
	padding: 4px;
}
table{
	border-collapse: collapse;
	padding: 10 px;
	width: 40%;
}
td,th{
	border: 1px solid black;
	padding: 10 px;
	text-align : center;
	padding: 5px;
}
td[colspan]{
	border: 1px solid black;
	padding: 10 px;
	text-align : right;
}
			/* Page Equipe*/
.nous{
	width: 100%;
	max-width: 300px;
}
			/* Page Rapport */
/*
h3{

}
ul{

}
ol{

}*/
			/* Règles inutilisées ? */
/*
#desc {
    
}
*/
#msg {
    text-align: center;
}

