header{
	display: flex;
	flex : wrap;
	justify-content: space-around;
	padding: 10px;
	margin: 10px;
	border: 1px solid purple;
}
header>h1{
	width: 25%;
	min-width: 260px; /*largeur du logo*/
	justify-content : center;
}
nav{
	width: 60%;
	display: flex;
	flex : wrap;
	justify-content : space-between;
	align-content: center;
	padding: 10px;
	margin: 10px;
	border: 1px solid red;
}
main{
	padding: 10px ;
	margin: 10px;
	border: 1px solid blue;
}
footer{
	padding: 10px ;
	margin: 10px,0px;
	border: solid black;
	border-width: 1px 0px;
}

footer a {
    color: gray;
	text-align: center;
	font-family: 'Yanone Kaffeesatz',sans-serif;
	font-weight: bolder;
}

#liste_produit{
	display : flex;
	flex-flow :row wrap; 
	justify-content: space-between;
	align-content: flex-start;
	
}
article{
	padding : 10px 20px;
	margin: 0 0 10px 0 ;
	max-width: 300px; 
	border: 1px solid #edf2e6;
	/* display : flex;
	flex-flow :column; */
	min-width: 120px;
}
article button{
	width: 100%;
}
/*.produit{
	display: flex;
	flex: row wrap;
	align-content: center 
}*/
.produit h1{
	width : 100%;
}
.nous{
	width: 100%;
	max-width: 300px;
}

.cactus{
	/* min-width: 100px; */
	width: 100%;
	max-width: 300px;
}
.promo{
	font: italic;
	/* border: 2px solid red; */
	border: 1px solid #e61515 ;
	width :max-content;
}
.promo em{
	color: #e61515;
	font: bold, italic;
	text-decoration: blink;
}
.promo img{
	width: 200px;
}
#panier{
	width : 100%;
	display: flex;
	justify-content : space-around;
}	
#coord{
	min-width: 150px;
	width : 40%;
	
}
#coord input {
	width : 95%;
	margin : 0;
	padding: 4px;
}
table{
	border-collapse: collapse;
	padding: 10 px;
	width: 40%;
}
td,th{
	border: 1px solid black;
	padding: 10 px;
	text-align : center;
	padding: 5px;
}
td[colspan]{
	border: 1px solid black;
	padding: 10 px;
	text-align : right;
}
.dispo .disponibilite:after{
	content :"✔Disponible";
	color : green;
}
.indispo .disponibilite:after{
	content :"❌ Indisponible";
	color : red;
}
.indispo button{
	opacity: 0.4;
	cursor: not-allowed;
}
a{
	color : black;
}
audio{
	visibility: hidden;
}
#msg {
	text-align: center;
	border: 2px dashed rgb(164, 226, 129);
	padding: 5px;
	margin: auto;
	line-height:30px;
}
#desc {
    
}
input{
	font-family: 'Yanone Kaffeesatz',sans-serif;
	font-weight: bolder;
	font-size: 20px;
}