nav{
	display: flex;
	justify-content : space-between;
	padding: 10px ;
	margin: 10px;
	border: 1px solid red;
}
main{
	padding: 10px ;
	margin: 10px;
	border: 1px solid blue;
}
footer{
	padding: 10px ;
	margin: 10px,0px;
	border: solid black;
	border-width: 1px 0px;
}
#liste_produit{
	display : flex;
	flex-flow :row wrap; 
	justify-content: space-between;
	align-content: flex-start;
	
}
article{
	padding : 10px, 20px;
	max-width: 300px; 
	border: 1px solid rgb(179, 31, 31);
	display : flex;
	flex-flow :column;
	min-width: 120px;
}
article button{
	width: 100%;
}
.cactus{
	/* min-width: 100px; */
	width: 100%;
}
.promo{
	font: italic;
	/* border: 2px solid red; */
}
.promo em{
	color: #e61515;
	font: bold, italic;
}
.promo img{
	width: 200px;
}

#panier{
	display: flex;
	justify-content : space-around;
}
#coord{
	width: 40%;
}
table{
	border-collapse: collapse;
	padding: 10 px;
	width: 40%;
}
td,th{
	border: 1px solid black;
	padding: 10 px;
}



